.reservation {
  background: #d9e7ff url("../images/background_reservation.svg") no-repeat
    center/cover;
  padding: 108px 80px 100px;
  text-align: center;
}
.reservation__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
